# =============== #
# Unity generated #
# =============== #
Temp/
Library/
Assets/PostProcessing/
Assets/PostProcessing.meta

# ===================================== #
# Rider generated #
# ===================================== #
.vs
.idea
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj
Assets/Plugins